n8n-workflows/contact-form-property-inquiry.json
{
  "name": "Anclora - Contact Form Property Inquiry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-property-inquiry",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://ancloraprivateestates.com,http://localhost:3000"
        }
      },
      "id": "webhook-property-inquiry",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "contact-property-inquiry"
    },
    {
      "parameters": {
        "jsCode": "// Extract form data\nconst formData = $input.first().json.body;\n\n// Validate required fields\nconst requiredFields = ['name', 'email', 'message', 'propertyId', 'acceptPrivacy'];\nconst missingFields = requiredFields.filter(field => !formData[field]);\n\nif (missingFields.length > 0) {\n  return {\n    json: {\n      success: false,\n      error: `Missing required fields: ${missingFields.join(', ')}`,\n      code: 'VALIDATION_ERROR'\n    }\n  };\n}\n\n// Validate email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(formData.email)) {\n  return {\n    json: {\n      success: false,\n      error: 'Invalid email format',\n      code: 'INVALID_EMAIL'\n    }\n  };\n}\n\n// Sanitize and structure data\nconst sanitizedData = {\n  name: formData.name.trim(),\n  email: formData.email.trim().toLowerCase(),\n  phone: formData.phone?.trim() || null,\n  message: formData.message.trim(),\n  propertyId: formData.propertyId,\n  budget: formData.budget || null,\n  timeline: formData.timeline || null,\n  type: 'property-inquiry',\n  timestamp: new Date().toISOString(),\n  source: 'website',\n  metadata: {\n    userAgent: $input.first().json.headers['user-agent'],\n    ip: $input.first().json.headers['x-forwarded-for'] || $input.first().json.headers['x-real-ip'],\n    propertyUrl: formData.propertyUrl || null\n  }\n};\n\nreturn { json: sanitizedData };"
      },
      "id": "validate-sanitize",
      "name": "Validate & Sanitize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "notEqual",
              "value2": "false"
            }
          ]
        }
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate lead score for property inquiry\nconst data = $input.first().json;\nlet score = 0;\n\n// Budget scoring (30 points max)\nif (data.budget) {\n  const budgetRanges = {\n    'under-500k': 5,\n    '500k-1m': 15,\n    '1m-2m': 25,\n    'over-2m': 30\n  };\n  score += budgetRanges[data.budget] || 0;\n}\n\n// Timeline scoring (25 points max)\nif (data.timeline) {\n  const timelineScores = {\n    'immediate': 25,\n    '1-3-months': 20,\n    '3-6-months': 15,\n    '6-12-months': 10,\n    'exploring': 5\n  };\n  score += timelineScores[data.timeline] || 0;\n}\n\n// Property interest (20 points)\nscore += 20;\n\n// Contact completeness (15 points)\nif (data.phone) score += 10;\nif (data.message.length > 50) score += 5;\n\n// Form completion (10 points)\nscore += 10;\n\n// Classify lead\nlet classification = 'cold';\nif (score >= 80) classification = 'hot';\nelse if (score >= 50) classification = 'warm';\n\nreturn {\n  json: {\n    ...data,\n    leadScore: score,\n    leadClassification: classification,\n    scoringBreakdown: {\n      budget: budgetRanges[data.budget] || 0,\n      timeline: timelineScores[data.timeline] || 0,\n      interest: 20,\n      completeness: (data.phone ? 10 : 0) + (data.message.length > 50 ? 5 : 0),\n      formCompletion: 10\n    }\n  }\n};\n\nconst budgetRanges = {\n  'under-500k': 5,\n  '500k-1m': 15,\n  '1m-2m': 25,\n  'over-2m': 30\n};\n\nconst timelineScores = {\n  'immediate': 25,\n  '1-3-months': 20,\n  '3-6-months': 15,\n  '6-12-months': 10,\n  'exploring': 5\n};"
      },
      "id": "calculate-lead-score",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_CRM_API_URL }}/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twentyApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.TWENTY_CRM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "firstName",
              "value": "={{ $json.name.split(' ')[0] }}"
            },
            {
              "name": "lastName",
              "value": "={{ $json.name.split(' ').slice(1).join(' ') }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "source",
              "value": "Website - Property Inquiry"
            },
            {
              "name": "leadScore",
              "value": "={{ $json.leadScore }}"
            },
            {
              "name": "leadStatus",
              "value": "={{ $json.leadClassification }}"
            },
            {
              "name": "interestedProperty",
              "value": "={{ $json.propertyId }}"
            },
            {
              "name": "budget",
              "value": "={{ $json.budget }}"
            },
            {
              "name": "timeline",
              "value": "={{ $json.timeline }}"
            },
            {
              "name": "notes",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-crm-contact",
      "name": "Create CRM Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_CRM_API_URL }}/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twentyApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ={{ $env.TWENTY_CRM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Create CRM Contact').item.json.id }}"
            },
            {
              "name": "title",
              "value": "Property Inquiry - {{ $json.propertyId }}"
            },
            {
              "name": "stage",
              "value": "={{ $json.leadClassification === 'hot' ? 'qualified' : 'new' }}"
            },
            {
              "name": "value",
              "value": "={{ $json.budget }}"
            },
            {
              "name": "probability",
              "value": "={{ $json.leadScore }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-deal",
      "name": "Create Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Consulta recibida - Propiedad {{ $json.propertyId }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #C5A059; color: white; padding: 30px; text-align: center; }\n    .content { background: #f9f9f9; padding: 30px; }\n    .property-box { background: white; padding: 20px; margin: 20px 0; border-left: 4px solid #C5A059; }\n    .button { background: #C5A059; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; display: inline-block; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Anclora Private Estates</h1>\n    </div>\n    <div class=\"content\">\n      <h2>Hola {{ $json.name }},</h2>\n      <p>Hemos recibido tu consulta sobre esta propiedad. Un asesor especializado se pondrá en contacto contigo en menos de 2 horas durante horario laboral.</p>\n      <div class=\"property-box\">\n        <h3>Propiedad de Interés</h3>\n        <p><strong>Ref:</strong> {{ $json.propertyId }}</p>\n        <p><a href=\"{{ $json.metadata.propertyUrl }}\">Ver detalles de la propiedad</a></p>\n      </div>\n      <p><strong>Tu mensaje:</strong></p>\n      <p style=\"background: white; padding: 15px; border-left: 3px solid #C5A059;\">{{ $json.message }}</p>\n      <a href=\"https://ancloraprivateestates.com/propiedades\" class=\"button\">Explorar Más Propiedades</a>\n      <p>Saludos,<br><strong>Equipo Anclora Private Estates</strong></p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 350],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $env.SALES_TEAM_EMAIL }}",
        "subject": "🔥 {{ $json.leadClassification.toUpperCase() }} LEAD - Consulta Propiedad {{ $json.propertyId }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .alert { background: {{ $json.leadClassification === 'hot' ? '#dc2626' : $json.leadClassification === 'warm' ? '#ea580c' : '#6b7280' }}; color: white; padding: 20px; text-align: center; border-radius: 4px; }\n    .score-box { background: #f0f9ff; padding: 20px; margin: 20px 0; border-left: 4px solid #3b82f6; }\n    .info-box { background: #f9f9f9; padding: 20px; margin: 20px 0; border-left: 4px solid #C5A059; }\n    .label { font-weight: bold; color: #666; }\n    .score { font-size: 48px; font-weight: bold; color: {{ $json.leadClassification === 'hot' ? '#dc2626' : $json.leadClassification === 'warm' ? '#ea580c' : '#6b7280' }}; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"alert\">\n      <h2>🔥 NUEVA CONSULTA - {{ $json.leadClassification.toUpperCase() }} LEAD</h2>\n      <div class=\"score\">{{ $json.leadScore }}/100</div>\n    </div>\n    <div class=\"info-box\">\n      <p><span class=\"label\">Nombre:</span> {{ $json.name }}</p>\n      <p><span class=\"label\">Email:</span> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>\n      <p><span class=\"label\">Teléfono:</span> {{ $json.phone || 'No proporcionado' }}</p>\n      <p><span class=\"label\">Propiedad:</span> {{ $json.propertyId }}</p>\n      <p><span class=\"label\">Presupuesto:</span> {{ $json.budget || 'No especificado' }}</p>\n      <p><span class=\"label\">Timeline:</span> {{ $json.timeline || 'No especificado' }}</p>\n    </div>\n    <div class=\"score-box\">\n      <h3>Lead Scoring Breakdown</h3>\n      <p>Budget: {{ $json.scoringBreakdown.budget }}/30</p>\n      <p>Timeline: {{ $json.scoringBreakdown.timeline }}/25</p>\n      <p>Interest: {{ $json.scoringBreakdown.interest }}/20</p>\n      <p>Completeness: {{ $json.scoringBreakdown.completeness }}/15</p>\n      <p>Form: {{ $json.scoringBreakdown.formCompletion }}/10</p>\n    </div>\n    <div class=\"info-box\">\n      <p><span class=\"label\">Mensaje:</span></p>\n      <p>{{ $json.message }}</p>\n    </div>\n    <p><em>⚡ Responder en menos de 2 horas para maximizar conversión</em></p>\n  </div>\n</body>\n</html>"
      },
      "id": "notify-sales-team",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 500],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Consulta recibida. Te contactaremos pronto.', contactId: $('Create CRM Contact').item.json.id, dealId: $('Create Deal').item.json.id, leadScore: $json.leadScore } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 650]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate & Sanitize", "type": "main", "index": 0}]]
    },
    "Validate & Sanitize": {
      "main": [[{"node": "Check Validation", "type": "main", "index": 0}]]
    },
    "Check Validation": {
      "main": [
        [{"node": "Calculate Lead Score", "type": "main", "index": 0}],
        [{"node": "Error Response", "type": "main", "index": 0}]
      ]
    },
    "Calculate Lead Score": {
      "main": [[
        {"node": "Create CRM Contact", "type": "main", "index": 0},
        {"node": "Send Confirmation Email", "type": "main", "index": 0},
        {"node": "Notify Sales Team", "type": "main", "index": 0}
      ]]
    },
    "Create CRM Contact": {
      "main": [[{"node": "Create Deal", "type": "main", "index": 0}]]
    },
    "Create Deal": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {"id": "anclora", "name": "Anclora"},
    {"id": "contact-forms", "name": "Contact Forms"},
    {"id": "high-priority", "name": "High Priority"}
  ]
}
