n8n-workflows/contact-form-valuation.json
{
  "name": "Anclora - Contact Form Valuation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-valuation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://ancloraprivateestates.com,http://localhost:3000"
        }
      },
      "id": "webhook-valuation",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.first().json.body;\nconst requiredFields = ['name', 'email', 'phone', 'message', 'acceptPrivacy'];\nconst missingFields = requiredFields.filter(field => !formData[field]);\n\nif (missingFields.length > 0) {\n  return { json: { success: false, error: `Missing: ${missingFields.join(', ')}`, code: 'VALIDATION_ERROR' } };\n}\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(formData.email)) {\n  return { json: { success: false, error: 'Invalid email', code: 'INVALID_EMAIL' } };\n}\n\nreturn {\n  json: {\n    name: formData.name.trim(),\n    email: formData.email.trim().toLowerCase(),\n    phone: formData.phone.trim(),\n    message: formData.message.trim(),\n    propertyType: formData.propertyType || null,\n    type: 'valuation',\n    timestamp: new Date().toISOString(),\n    source: 'website',\n    priority: 'high',\n    metadata: {\n      userAgent: $input.first().json.headers['user-agent'],\n      ip: $input.first().json.headers['x-forwarded-for']\n    }\n  }\n};"
      },
      "id": "validate-sanitize",
      "name": "Validate & Sanitize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{"value1": "={{ $json.success }}", "operation": "notEqual", "value2": "false"}]
        }
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet score = 60; // Base score for valuation requests\n\n// Phone provided (mandatory) - 20 points\nscore += 20;\n\n// Property type specified - 10 points\nif (data.propertyType) score += 10;\n\n// Message detail - 10 points\nif (data.message.length > 100) score += 10;\n\nlet classification = 'warm';\nif (score >= 80) classification = 'hot';\n\nreturn {\n  json: {\n    ...data,\n    leadScore: score,\n    leadClassification: classification,\n    scoringBreakdown: {\n      baseValuation: 60,\n      phoneProvided: 20,\n      propertyType: data.propertyType ? 10 : 0,\n      messageDetail: data.message.length > 100 ? 10 : 0\n    }\n  }\n};"
      },
      "id": "calculate-lead-score",
      "name": "Calculate Lead Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWENTY_CRM_API_URL }}/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Authorization", "value": "Bearer ={{ $env.TWENTY_CRM_API_KEY }}"}]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "firstName", "value": "={{ $json.name.split(' ')[0] }}"},
            {"name": "lastName", "value": "={{ $json.name.split(' ').slice(1).join(' ') }}"},
            {"name": "email", "value": "={{ $json.email }}"},
            {"name": "phone", "value": "={{ $json.phone }}"},
            {"name": "source", "value": "Website - Valuation Request"},
            {"name": "leadScore", "value": "={{ $json.leadScore }}"},
            {"name": "leadStatus", "value": "={{ $json.leadClassification }}"},
            {"name": "requestType", "value": "valuation"},
            {"name": "propertyType", "value": "={{ $json.propertyType }}"},
            {"name": "notes", "value": "={{ $json.message }}"}
          ]
        }
      },
      "id": "create-crm-contact",
      "name": "Create CRM Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Solicitud de Valoración Recibida - Anclora",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #C5A059; color: white; padding: 30px; text-align: center; }\n    .content { background: #f9f9f9; padding: 30px; }\n    .highlight-box { background: #fff; padding: 20px; margin: 20px 0; border-left: 4px solid #C5A059; }\n    ul { list-style: none; padding: 0; }\n    ul li:before { content: '✓ '; color: #C5A059; font-weight: bold; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\"><h1>Valoración Profesional</h1></div>\n    <div class=\"content\">\n      <h2>Hola {{ $json.name }},</h2>\n      <p>Hemos recibido tu solicitud de valoración. Un experto certificado te contactará en las próximas 24 horas.</p>\n      <div class=\"highlight-box\">\n        <h3>Incluye tu Valoración Gratuita:</h3>\n        <ul>\n          <li>Análisis de mercado actualizado</li>\n          <li>Comparativa con propiedades similares</li>\n          <li>Estimación de precio óptimo</li>\n          <li>Recomendaciones de mejora ROI</li>\n        </ul>\n      </div>\n      <p><strong>Tu consulta:</strong></p>\n      <p style=\"background: white; padding: 15px;\">{{ $json.message }}</p>\n      <p>Saludos,<br><strong>Equipo Anclora Private Estates</strong></p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "send-confirmation-email",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 350],
      "credentials": {"smtp": {"id": "smtp-credentials"}}
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $env.SALES_TEAM_EMAIL }}",
        "subject": "💰 VALORACIÓN - {{ $json.name }} ({{ $json.leadClassification.toUpperCase() }})",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial;\">\n  <div style=\"max-width: 600px; margin: 0 auto;\">\n    <div style=\"background: #C5A059; color: white; padding: 20px; text-align: center;\">\n      <h2>💰 SOLICITUD DE VALORACIÓN</h2>\n      <div style=\"font-size: 42px; font-weight: bold;\">{{ $json.leadScore }}/100</div>\n      <div>{{ $json.leadClassification.toUpperCase() }} LEAD</div>\n    </div>\n    <div style=\"padding: 20px; background: #f9f9f9;\">\n      <p><strong>Nombre:</strong> {{ $json.name }}</p>\n      <p><strong>Email:</strong> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>\n      <p><strong>Teléfono:</strong> <a href=\"tel:{{ $json.phone }}\">{{ $json.phone }}</a></p>\n      <p><strong>Tipo Propiedad:</strong> {{ $json.propertyType || 'No especificado' }}</p>\n      <hr>\n      <p><strong>Mensaje:</strong></p>\n      <p style=\"background: white; padding: 15px;\">{{ $json.message }}</p>\n      <hr>\n      <p><em>⚡ PRIORIDAD ALTA - Contactar en 24h</em></p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "notify-sales-team",
      "name": "Notify Sales",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 500],
      "credentials": {"smtp": {"id": "smtp-credentials"}}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Valoración solicitada. Te contactaremos en 24h.', contactId: $('Create CRM Contact').item.json.id } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 400}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 650]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate & Sanitize"}]]},
    "Validate & Sanitize": {"main": [[{"node": "Check Validation"}]]},
    "Check Validation": {"main": [[{"node": "Calculate Lead Score"}], [{"node": "Error Response"}]]},
    "Calculate Lead Score": {"main": [[{"node": "Create CRM Contact"}, {"node": "Send Confirmation"}, {"node": "Notify Sales"}]]},
    "Create CRM Contact": {"main": [[{"node": "Success Response"}]]}
  },
  "tags": [{"id": "anclora", "name": "Anclora"}, {"id": "valuation", "name": "Valuation"}]
}
